// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*{
	background-color: rgb(28,28,28);
	font-family: sans-serif;
	color: rgb(180,180,180);
	margin: 2px;
}

.red{
	border-color: rgb(75,15,15);
}

.green{
	border-color: rgb(15,75,15);
}

.flash_box{
	display: inline-block;
	border-style: groove;
	border-width: 4px;
	padding: 4px;
}

h1{
	font-size: 1.4rem;
	margin-bottom: 15px;
}

table{
	border-width: 4px;
	border-style: groove;
	border-color: rgb(150,150,150);
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 4px;
}

td{
	border-width: 1px;
	border-style:inset;
	border-color: rgb(60,60,60);
}

form{
	display: inline-block;
	vertical-align: top;
}

.footer{
	font-size: 0.9rem;
	margin-top: 12px;
}